.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 19vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

hr {
  width: 99%;
}

a {
  color: white;
}

.post {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 400px;
  margin: 10px auto;
  color: white;
  background-color: rgb(73, 79, 82);
}

.postTitle {
  width: 95%;
  height: 20%;
  /* background-color: rgb(56, 59, 61); */
}

.postText {
  width: 95%;
  height: 70%;
  /* background-color: rgb(56, 59, 61); */
}